body {
	transition: background-color 0.5s;
	text-align: center;

	/*-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;*/
}

@-webkit-keyframes fadeIn {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-moz-keyframes fadeIn {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes fadeIn {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.fade-in {
	opacity: 0;

	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	animation-duration: 0.5s;
}

#colour-wheel {
	margin: 1% auto;
}

canvas {
	cursor: pointer;
}
